.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 12px;
  height: 100vh;
}

.input_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.image {
  width: 100%;
  border-radius: 10px;
}

.input {
  outline: none;
  font-size: large;
  padding: 12px;
  text-align: right;
  background-color: #242f3d;

  font-family: "Vazirmatn", serif;
  color: white;
  border: none;
}

.input::placeholder {
  color: #adaebc;
}

.input:focus {
  outline: none;
  background-color: #1a1a1a;
}
