.app {
  justify-content: space-between;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: #0E1621;
}

.list {
  padding: 0 12px;
  width: calc(100% - 12px * 4);
  flex-direction: row;
  gap: 12px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
